/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAUi-qJCY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u8w4BMUTPHjxsAXC-q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh6UVSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh50XSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body {
    background: rgb(232, 232, 232);
    background-image: url(images/himalaya.png);
    background-repeat: no-repeat;
    background-size: 100% 550px;
    font-family: Mukta,Lato,sans-serif;
    position: relative;
    margin: 0;
}
.background {
    margin-bottom: 37px;
}
.othercontainer {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.container {
    /* height: 1200px; */
    color: white;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 5px;
    position: relative;
    margin: 0 31px;
}

.logo {
    height: 36px;
    width: 113px;
}
.navbar {
    display: flex;
    justify-content: right;
}
.btn {
    padding: 0px;
    background-image: linear-gradient(93deg,#53b2fe,#065af3);
    border: 0;
    border-radius: 4px;
    height: 41px;
    width: 213px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bold {
    font-size: 9px;
    position: absolute;
    left: 39px;
}
.mylogo {
    position: absolute;
    left: 8px;
}
.btnarrow {
    position: absolute;
    right: 12px;
    height: 18px;
}
.flexone1 {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 0 5px;
    border-right: 2px dotted #786d6d;
}
.effect{
    margin: 0px;
    color: #c2c2c2;
    font-size: 10px;
}
.offers{
    margin: 0px;
    font-size: 13px;
}
.offers-logo {
    margin: 0 10px 0 0;
}

.introducing{
    margin: 0px;
    font-size: 13px;
}
.Biz{
    margin: 0px;
    color: #c2c2c2;
    font-size: 10px;
}
.flexone3 {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    margin: 5px
}
.trips{
    margin: 0px;
    font-size: 13px;
}
.Manage{
    margin: 0px;
    color: #c2c2c2;
    font-size: 10px;
}
.flag{
    margin: 0px;
    width: 144px;
}
.countries{
    border: 0;
    border-radius: 4px;
    height: 42px;
    width: 213px;
}
.insideflag {
    margin: 0px 0px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.flag{
    background-color: lightgray;
    border-radius: 5px;
    height: 41px;
    opacity: 0.2;
    position: relative;
}
.selecting{
    color: white;
    margin: -42px 0px 0px 5px;
    font-size: 10px;
}
.flag2{
    position: absolute;
    top: -30px;
    left: 19px;
}
.widgetLoader {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    height: 328px;
    position: relative;
    left: 0;
    right: 0;
    margin-bottom: 40px;
}
.headerOuter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}
.wrapper{
    z-index: 11;
    position: absolute;
    top: -26px;
    box-sizing: border-box;
}
.data{
    height: 89px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 8px 30px;
    width: 866px;
} 
.Flights {
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}  
.flightimage {
    height: 41px;
    width: 48px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}
.Flightspara{
    line-height: 29px;
}
.flight {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 12px;
    max-width: 72px;
    text-align: left;
}
.hotel {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    /* max-width: 76px; */
    /* text-align: left; */
}
.Hotels {
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.hotelimage {
    height: 41px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 0; */
    /* margin: 0; */
}
.Hotelspara{
    line-height: 29px;
    text-align: center;
}
.home {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    /* max-width: 72px; */
    /* text-align: left; */
}
.Homestays {
    color: rgb(74,74,74);
    font-size: 15px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
.homeimage {
    height: 41px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    background-size: 260px 400px;
}
.Homestayspara{
    text-align: center;
}
.holiday {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    max-width: 72px;
    text-align: left;
}
.Holiday{
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.Holidaypara{
    text-align: center;
}
.holidayimage {
    height: 41px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
}
.trains {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 12px;
    max-width: 72px;
    text-align: left;
}
.Trains {
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.trainimage{
    height: 41px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Trainspara{
    line-height: 29px;
    margin: 0;
}
.bus{
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 12px;
    max-width: 72px;
    text-align: left;
}
.Buses{
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.busimage{
    height: 41px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Busespara{
    line-height: 29px;
    margin: 0;
}
.cab{
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 12px;
    max-width: 72px;
    text-align: left;
}
.Cabs{
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.cabimage{
    height: 41px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cabspara{
    line-height: 29px;
    margin: 0;
}
.forex {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    max-width: 72px;
    text-align: left;
}
.Forex {
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.foreximage {
    height: 41px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 11px 9px;
}
.insurance {
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
    max-width: 72px;
    text-align: left;
}
.Insurance {
    color: rgb(74,74,74);
    font-size: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.insuranceimage {
    height: 41px;
    width: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
}
.Insurancepara{
    text-align: center;
}
.display {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    gap: 40px;
}
.bookings{
    margin: 0 auto;
    position: relative;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 60px 20px 0;
    box-shadow: none;
    padding: 65px 28px 0px 31px
}

.newTag1{
    background-image: linear-gradient(100deg,#976fc3,#e35471);
    border-radius: 4px;
    display: inline-flex;
    font-size: small;
    font-weight: 700;
    height: 13px;
    justify-content: center;
    align-items: center;
    min-width: 33px;
    padding: 4px 6px;
    position: absolute;
    top: -11px;
    color: white;
    font-size: 16px;
    margin: 0 10px;
}

.directions{
    display: flex;
    align-items: center;
    font-family: Mukta, Lato, sans-serif;
    gap: 10px;
    color: rgb(98 96 96);
    font-size: 16px;
    cursor: pointer;
}
.International{
    margin-left: auto;
}
.oneway:hover,.roundtrip:hover,.multicity:hover,.delhibox:hover{
    background-color: #b8d9f5;
    border-radius: 10px;
    font-weight: 900;
    color: #000000;
}
.from{
    padding: 11px 24px;
}
.box1{
    width: 100%;
    /* margin: 0 auto; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* -webkit-box-align: center; */
    -ms-flex-align: center;
    align-items: center;
    border: solid 1px #e7e7e7;
    position: relative;
    height: 114px;
    /* margin: 9px 0 0 0;*/
}
.delhi{
    border-radius: 0;
    width: 300px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
}
.delhi1{
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.botharrows{
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: -21px;
    border-radius: 100%; 
    background: #fff; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    z-index: 1; 
    cursor: pointer;
}
.banglore{
    border-radius: 0;
    /* margin-right: 12px; */
    width: 300px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
}
.text1{
    margin-bottom: 10px;
    color: rgb(74 74 74);
    margin-top: 0;
}
.text2{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: rgb(74 74 74);
    margin-top: 0;
}
.delhi2{
    margin: 0;
}
.dep1{
    width: 158px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
}
.dep2{
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.dep3{
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(74 74 74);
}
.downarrow{
    width: 21px;
    height: 16px;
}
.dep4{
    line-height: 36px;
    display: flex;
}
.dep5{
    font-size: 33px;
    line-height: 30px;
    font-weight: 800;
    margin: 0;
}
.dep6{
    font-size: 21px;
}
.dep7{
    color: rgb(74 74 74);
}
.return1{
    width: 158px;
    height: 112px;
    border-right: solid 1px #e7e7e7;
}
.label{
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.return2{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
}
.return3{
    border-color: #9b9b9b;
    line-height: 16px;
    font-weight: 400;
    color: rgb(169 165 165);
    font-size: 13px;
}
.travel1{
    width: 214px;
    height: 112px;
    border-radius: 0;
    margin-right: 0;
    padding: 10px 19px;
}
.label1{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: rgb(74 74 74);
}
.travel2{
    display: flex;
    position: relative;
}
.num{
    margin: 10px 0 0 0;
    font-size: 37px;
}
.travel3{
    font-size: 24px;
    position: absolute;
    top: 22px;
    left: 22px;
}
.travel4{
    color: rgb(74 74 74);
    position: absolute;
    top: 67px;
    font-size: 14px;
}
.box2{
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;

}
.fare1{
    display: flex;
}
.fare2{
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
}
.fare3{
    display: flex;
    position: relative;
    /* border: 1px solid; */
    background: #f2f2f2;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    color: rgb(76 76 76);
    font-size: 12px;
}
.fare4{
    border: 1px solid white;
    padding: 8px 8px 8px 7px;
    display: flex;
}
.f1{
    margin: 0;
}
.destination{
    display: flex;
    align-items: center;
}
.trendingsearch{
    color: rgb(74 74 74);
}
.destination1{
    display: flex;
    padding: 8px 10px;
    border-radius: 4px;
    margin-left: 10px;
    background: #f2f2f2;
    width: 91px;
    height: 18px;
    align-items: center;
    justify-content: center;
}
.d1{
    margin: 3px 5px 0 0;
}
.arrowimage{
    height: 22px;
}
.d2 {
    margin: 3px 0 0 0;
}
.destination2{
    padding: 8px 10px;
    border-radius: 4px;
    margin-left: 10px;
    background: #f2f2f2;
    width: 93px;
    height: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.last{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.button{
    width: 216px;
    padding: 10px;
    margin-bottom: -32px;
    border-radius: 34px;
    background: linear-gradient(93deg,#53b2fe,#065af3);
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    border: 0px;
    color: white;
    position: absolute;
    font-size: 24px;
    line-height: 24px;
}
.container2{
    width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 100px;
}
.section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.explore{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 12px;
    gap: 5px;
}
.doublearrow{
    width: 11px;
    height: 12px;
}
.gifts{
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0;
    height: 55px;
    width: 1012px;
}
.itemslist{
    display: flex;
}
.itemslist1{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-right: 1px#d8d8d8 solid;
    cursor: pointer;
    color: rgb(74, 74, 74);
    margin: 0 0 25px;
}
.Where2Go{
    margin-right: 12px;
    width: 28px;
    height: 28px;
}
.where{
    font-size: 14px;
    line-height: 14px;
    color: rgb(74, 74, 74);
}
.itemslist2{
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    color: rgb(74, 74, 74);
    margin: -21px 0 8px;
}
.insurancetrips {
    margin: 0;
    font-weight: 700;
}
.trips1 {
    margin: 0;
    font-size: 11px;
}
.sublist4{
    font-size: 11px;
}
.detailsoftrips{
    border-radius: 10px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 25px 40px 40px;
    min-height: 424px;
    margin-bottom: 20px;
    margin-top: 35px;
    color: #000000;
}
.displaytop{
    display: flex;
}
.topsection{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.topsectionoffers{
    font-size: 33px;
    margin: 0;
    font-weight: 900;
}
.typesofoffers {
    display: flex;
    margin: 0 10px;
    color: rgb(74 74 74);
}
.toview{
    margin-left: 30px;
    border-bottom: solid 1px #c6c6c6;
}
.a{
    text-decoration: none;
}
.toviewtab{
    padding: 5px;
    margin-right: 20px;
    position: relative;
}
.viewall {
    /* margin-left: auto; */
    align-items: center;
    margin: 0 0 20px 204px;
    display: flex;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    color: #008cff;
}
.differentplaces{
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* height: 100px;*/
}
.first2places{
    width: 484px;
    flex-direction: column;
    display: block;
    margin-left: 20px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* float: left; */
    /* height: 100%; */
    /* min-height: 1px;*/
}
.firstplace{
    width: 439px;
    /* display: inline-block; */
    padding: 0 10px 10px 0;
    /* outline: none; */
    /* border: 1px solid #f7f3f3; */
    box-shadow: 1px 1px 26px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* box-shadow: 10px 20px; */
    height: 176px;
    margin-bottom: 19px;
}
.fp2{
    margin: 5px 10px 5px 2px;
    padding: 10px;
}
.fp3{
    min-height: 140px;
}
.detailsoffirstplace{
    display: flex;
}
.firstplaceimage{
    margin-right: 20px;
}
.bigbossimage{
    border-radius: 7px;
}
.flexbox1{
    width: 290px;
}
.domhotels{
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: rgb(74 74 74);
}
.bigbosshouse{
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 900;
    font-size: 18px;
    color: black;
}
.smalldash{
    margin-bottom: 10px;
    width: 33px;
    height: 1px;
    background: #eb2026;
    display: flex;
}
.participation{
    line-height: 16px;
    font-size: 14px;
    color: rgb(74 74 74);
}
.whole-cards{
    display: flex;
}
.scroll{
    margin: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.card-button{
    position: absolute;
    top: 25px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 26.4px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 0;
    outline: none;
    border: none;
    cursor: pointer;
    border-color: white;
    left: -22px;
    color: #008cff;
}

.stick-scroll{
    display: flex;
    gap: 13px;
}
.card-scroll{
    position: relative;
}

.card1-image{
    height: 59px;
    width: 54px;
    margin: 0 20px 0 51px;
}
.info1{
    margin-left: 10px;
    margin-right: 4px;
}
.second-card{
    display: flex;
    /* border: 1px solid; */
    background: white;
    color: rgb(74 74 74);
    border-radius: 10px;
    width: 389px;
    height: 95px;
    align-items: center;
}
.card2-image{
    height: 59px;
    width: 54px;
    margin: 0 20px 0 51px;
}
.info2{
    margin-left: 10px;
    margin-right: 21px;
    font-size: 15px;
    font-weight: 500;
}
.footer{
    display: flex;
    font-size: 14px;
    /* justify-content: center; */
    margin-top: 10px;
    align-items: center;
}
.apply{
    color: #4a4a4a;
    font-size: 12px;
    /* text-align: center; */
    margin-left: 28px;
    /* width: 135px; */
    line-height: 12px;
}
.viewdetails{
    margin-left: auto;
    justify-content: space-between;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #008cff;
}
.scrolling_section{
    margin-bottom: 20px;
}

.image{
    width: 1000px;
    height: 90px;
    border-radius: 10px;
    margin: 18px 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile{
    background: white;
    border-radius: 9px;
    width: 1195px;
    height: 200px;
    display: flex;
    margin: 0 0 20px;
}
.handpicked{
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px 0 30px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.handpicked_header{
    padding-right: 40px;
}
.handpickedpara{
    color: black;
    font-weight: 900;
    font-size: 30px;
}
.handpicked_photo{
    width: 182px;
    height: 229px;
    border-radius: 9px;
    box-shadow: 0px -15px 0px 0px #c2c2c2, 0px -28px rgb(232, 232, 232);
}
.unlock{
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 30px 0 30px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}
.unlock_header{
    padding-right: 40px;
    overflow: hidden;
}
.unlock_para{
    color: #000000;
    font-weight: 900;
    font-size: 30px;
}
.unlock_buttons{
    display: flex;
}
.control_buttons{
    margin-left: auto;
    margin-top: 34px;
}
.unlock_photo{
    width: 208px;
    height: 249px;
    border-radius: 9px;
}
.unlock_picker{
    display: flex;
    gap: 20px;
}
.arrow_button1{
    border: 1px solid #d8d8d8;
    background: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 34px;
    height: 34px;
    color: #008cff;
}
.arrow_button2{
    border: 1px solid #c6c6c6;
    background: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1px 1px 26px 0 rgba(0, 0, 0, 0.1);
    width: 34px;
    height: 34px;
    color: #008cff;
}
.paragraphs{
    margin: 100px 118px;
}
.reasons{
    display: flex;
    padding: 10px 123px;
    gap: 78px;
    background-color: #d8d8d8;
}

.footer_section{
    background-color: #000000;
    color: white;
    width: 1263px;
    height: 200px;
}
.answers{
    background-color: #d8d8d8;
}